


table {
  width: 100%;

}
td {
  padding: 10px;
}
td.foto{
  max-width: 200px; /* Tamanho */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}
.loading-spinner {
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0,0,0,0.15);

}
